version: 2
registries:
  dhi:
    type: docker-registry
    url: dhi.io
    username: ${{ secrets.DOCKER_USER }}
    password: ${{ secrets.DOCKER_PASSWORD }}
    replaces-base: true
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/Berlin"
    commit-message:
      prefix: "[actions] "
  - package-ecosystem: "npm"
    directory: "/service"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/Berlin"
    commit-message:
      prefix: "[deps] "
  - package-ecosystem: "docker"
    directory: "/"
    registries: "*"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/Berlin"
    commit-message:
      prefix: "[docker] "
