services:
  caddy:
    container_name: caddy
    image: caddy:2
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    depends_on:
      - pds
    restart: unless-stopped
    volumes:
      - type: bind
        source: /pds/caddy/data
        target: /data
      - type: bind
        source: /pds/caddy/etc/caddy
        target: /etc/caddy
    labels: ["com.centurylinklabs.watchtower.scope=bsky-pds"]

  pds:
    container_name: pds
    image: ghcr.io/bernd289/pds:latest
    restart: unless-stopped
    volumes:
      - type: bind
        source: /pds
        target: /pds
    env_file:
      - /pds/pds.env
    labels: ["com.centurylinklabs.watchtower.scope=bsky-pds"]

  watchtower:
    container_name: watchtower
    image: ghcr.io/nicholas-fedor/watchtower:latest
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    restart: unless-stopped
    environment:
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_SCHEDULE: "@midnight"
      WATCHTOWER_SCOPE: "bsky-pds"
    labels: ["com.centurylinklabs.watchtower.scope=bsky-pds"]
