services:
  caddy:
    container_name: caddy
    image: caddy:2
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    depends_on:
      - pds
    restart: unless-stopped
    volumes:
      - type: bind
        source: /pds/caddy/data
        target: /data
      - type: bind
        source: /pds/caddy/etc/caddy
        target: /etc/caddy

  pds:
    container_name: pds
    image: ghcr.io/bernd289/pds:latest
    init: true
    restart: unless-stopped
    volumes:
      - type: bind
        source: /pds
        target: /pds
    env_file:
      - /pds/pds.env
