services:
  caddy:
    container_name: caddy
    image: dhi.io/caddy:2
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    depends_on:
      - pds
    restart: unless-stopped
    volumes:
      - ./caddy/data:/data
      - ./caddy/etc/caddy:/etc/caddy
    environment:
      - XDG_DATA_HOME=/data
      - XDG_CONFIG_HOME=/config

  pds:
    container_name: pds
    image: ghcr.io/bernd289/pds:latest
    init: true
    restart: unless-stopped
    volumes:
      - ./:/pds
    env_file:
      - ./pds.env
