services:
  caddy:
    container_name: caddy
    image: dhi.io/caddy:2
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
      - "443:443/udp"
    networks:
      - proxy
    depends_on:
      - pds
    restart: unless-stopped
    volumes:
      - ./caddy/data:/data
      - ./caddy/etc/caddy:/etc/caddy

  pds:
    container_name: pds
    image: ghcr.io/bernd289/pds:latest
    init: true
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - ./:/pds
    env_file:
      - ./pds.env

networks:
  proxy:
    name: proxy
    external: true
    ip6net:
     enable_ipv6: true
    ipam:
      config:
        - subnet: FD00:1234::/64