name: GitHub Maintenance

on:
  schedule:
    - cron: '0 2 * * 0'  # Weekly on Sunday at 2 AM
  workflow_dispatch:

jobs:
  github_maintenance:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: write

    steps:
      - name: Delete container images
        uses: actions/delete-package-versions@v5
        with: 
          package-name: pds
          package-type: container
          min-versions-to-keep: 30

      - name: Delete workflow runs
        uses: viascom/github-maintenance-action@v0.2.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_base_url: 'https://api.github.com'
          repository: ${{ github.repository }}
          retention_days: 30
          keep_minimum_runs: 5
